.hidden{
  display: none !important;
}
.dragging-dom-ele {
  position: fixed !important;
  z-index: 100;
  display: inline-block;
  // height: 30px;
  // width: 130px;
  // border-radius: 4px;
  // border: 1px solid #ccc;

  cursor: grabbing;
  user-select: none;
  opacity: 0.6;
}