.hidden{
  display: none !important;
}
.dragging-dom-ele {
  position: fixed !important;
  z-index: 100;
  display: inline-block;
  // height: 30px;
  // width: 130px;
  // border-radius: 4px;
  // border: 1px solid #ccc;

  cursor: grabbing;
  user-select: none;
  opacity: 0.6;
}
* {
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  
  &::-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #7d7d7d;
  }
}

.list-enter-active,.list-leave-active{
  transition:all 0.3s ease-in-out;
}
.list-enter-from,.list-leave-to{
  transform: scale(0);
}